// place your custom styles here
.vp-blog-hero-title{
    color:rgb(58, 210, 83)
}
.vp-blog-hero-description{
    color:rgb(58, 210, 83)
}
.pointer {
  position: fixed;
  border-radius: 50%;
  background-color: var(--pointer-color, rgba(22, 66, 75, 0.4));
  opacity: 0;
  z-index: 999;
  animation: grow var(--pointer-duration, 0.4s) forwards;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

@keyframes grow {
  from {
    width: 0;
    height: 0;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    width: var(--max-size, 100px);
    height: var(--max-size, 100px);
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}